 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="invis">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
				<HR WIDTH="100%" ALIGN="LEFT">
                    <p>Passion drives the best of us.  And when you're passionate about what you do, it's all you do. With over 10 years industry experience in web & graphic design, I have acquired the skills necessary to produce elegant and responsive site designs that are tailored the the clients needs.</p>
                </div>
                <div class="col-lg-4">
                    <p></p>
				<HR WIDTH="100%" ALIGN="LEFT">
                </div>
            </div>
        </div>
    </section>