
    <!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="invis">
                </div>
            </div>
            <div class="row">
			<div class="col-lg-12 text-left">
                <h3>Miami International University of Art & Design</h3>
				<br><h4><span style="color: #f6ae00">Web Developer</span>    |    2008 - 2011</h4><br>
				<ul>
				<li>Managed primary university website built on proprietary CMS and maintained/updated content daily</li>
				<li>Create marketing material <span style="color: #666666"><b><i>(online banners, email campaigns, event & content graphics)</i></b></span> for all university related material/programs</li>
				<li>Utilized Flash to integrate interactive elements and micro site development for MFA program</li>
				</ul>
				<br><HR width=100%><br>
				<h3>Mediasophia Inc.</h3>
				<br><h4><span style="color: #f6ae00">Web Deployment Manager</span> <span style="color: #666666"><i>(freelancer)</i></span>    |    2011 - 2016</h4><br>
				<ul>
				<li>Played a key role in the design and layout of several web sites daily</li>
				<li>Custom CMS Development for high profile clientele websites - <span style="color: #f6ae00">Wordpress, Drupal and Joomla</span></li>
				<li>Mangaged multiple hosting accounts for site maintenance, security and migration  
				<li>Layout web sites using valid <span style="color: #f6ae00">HTML, CSS, Javascript, PHP</span></li>
				<li>Design and layout of aesthetically pleasing site designs in Photoshop</li>
				<li>Create Branding Materials - Logo Creation and Reconstruction, brochures, business cards, custom graphics/illustrations, etc.</li>
				</ul>
				<br><HR width=100%><br>
				<h3>Glottman Anteprima</h3>
				<br><h4><span style="color: #f6ae00">Web Development & Graphics Coordinator</span> <span style="color: #666666"><i>(freelancer)</i></span>    |    20011 - present</h4><br>
				<ul>
				<li>Lead Designer and Developer for corporate site and micro sites via CMS - Wordpress</li>
				<li>Layout web sites using valid <span style="color: #f6ae00">HTML, CSS, Javascript, PHP</span></li>
				<li>Create Branding Materials - Brochures, business cards, custom graphics/illustrations, etc.</li>
				<li>Marketing of email marketing campaign for all eblasts and newsletters</li>
				<li>SEO, blog and content creation for online reputation building and ranking</li>
				<li>Develop and manage social media campaigns across mainstream social media channels</li>			
				</ul>
                    </div>
					</div>
            </div>
        </div>
    </section>