 <!-- Skills Section -->
    <section class="myskills" id="myskills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
					<hr class="invis">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3><span style="color: #f6ae00">Software + systems</span></h3>
					<HR WIDTH="80%" ALIGN="LEFT">
					<h6>Photoshop</h6>
					<h6>Illustrator</h6>
					<h6>InDesign</h6>
					<h6>Dreamweaver</h6>
					<h6>Animate ( <i>formely Flash</i> )</h6>
					<h6>Premiere</h6>
					<h6><span style="color: #f6ae00">CMS_</span></h6>
					<h6>Wordpress, Joomla, Drupal</h6>
					<h6><span style="color: #f6ae00">e-commerce_</span></h6>
					<h6>Magneto, Shopify, Revel</h6>
                </div>
                <div class="col-lg-4">
                    <h3><span style="color: #f6ae00">Languages</span></h3>
					<HR WIDTH="80%" ALIGN="LEFT">
					<h6><span style="color: #f6ae00">Excellent_</span></h6>
					<h6>CSS <span style="font-size: 10px; font-style: italic;">(CSS3, Bootstrap)</span></h6>
					<h6>Web Standards</h6>
					<h6>XHTML</h6>
					<h6><span style="color: #f6ae00">Improving_</span></h6>
					<h6>Javascript</h6>
					<h6>Angular</h6>
					<h6>React JS</h6>
                </div>
				<div class="col-lg-4">
                    <h3><span style="color: #f6ae00">Additional Skills</span></h3>
					<HR WIDTH="80%" ALIGN="LEFT">
					<h6>Project Management</h6>
					<h6>Hosting & Cpanel Management</h6>
					<h6>E-commerce Integration</h6>
					<h6>Marketing & Research Development</h6>
					<h6>Commercial & Concept Illustration</h6>
                </div>
            </div>
        </div>
    </section>